@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

	<div class="text-center">
		<h1 class="display-4">Welcome!</h1>
		<p id="homepageIntro">
			This site holds my personal collection of guitars. Visit the "Guitars"
			link at the top of the page to view my current guitars, add a new guitar to the list, 
			or edit/delete current guitars.
		</p>
		<img src="~/img/mainLogo.jpg" alt="A person playing an acoustic guitar" id="mainImg" />
		<img src="~/img/mainLogo2.jpg" alt="A person playing an electric guitar" id="mainImg2" />
	</div>
