@page "{id:int?}"
@model GuitarCollection.Pages.Guitars.EditModel

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Guitar</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Guitar.ID" />
			<div class="form-group">
				<label asp-for="Guitar.GuitarType" class="control-label"></label>
				<input asp-for="Guitar.GuitarType" class="form-control" />
				<span asp-validation-for="Guitar.GuitarType" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Guitar.GuitarBrand" class="control-label"></label>
				<input asp-for="Guitar.GuitarBrand" class="form-control" />
				<span asp-validation-for="Guitar.GuitarBrand" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Guitar.NumStrings" class="control-label"></label>
				<input asp-for="Guitar.NumStrings" class="form-control" />
				<span asp-validation-for="Guitar.NumStrings" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Guitar.StringBrand" class="control-label"></label>
				<input asp-for="Guitar.StringBrand" class="form-control" />
				<span asp-validation-for="Guitar.StringBrand" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
